@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(135deg, #749EFF, #7D869B);
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
}

.text {
  position: relative;
  max-width: 600px;
  width: 100%;
  min-height: 500px;
  border-radius: 37px;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 6%;
  background-color: #749EFF;
  background-blend-mode: overlay;
}
.text h1 {
  margin-left: 15px;
}

.add_cta {
  position: relative;
  align-items: right;
}

.add_task {
  position: absolute;
  width: 80%;
  height: 40px;
  margin-left: 30px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 21px;
  color: rgb(22, 22, 22);
  font-size: 15px;
  padding: 0 30px;
}

.add_task_btn {
  position: absolute;
  right: 25.5px;
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-image: linear-gradient(to left, #0070C0, #54A9E6);
  color: white;
  font-size: 21px;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
  transition: 0.1s;
}

.add_task_btn:hover {
  scale: 1.1;
  transition: 0.2s;
}

.add_task_btn:active {
  scale: 0.95;
}

.todolist {
  margin-top: 80px;
  margin-left: 40px;
  width: 85%;
  min-height: 325px;
  background-color: rgba(240, 248, 255, 0.5);
  top: 30%;
  left: 7%;
  border-radius: 20px;
  padding: 10px 30px;
}

.list-container {
  margin: 1rem;
}

.list-elem {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-between;
  background-color: rgba(0, 112, 192, 0.3019607843);
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.list-elem button, .list-elem input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  background: none;
}

.texto {
  font-size: 17px;
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  transition: 0.4s;
}

.texto:not(:-moz-read-only) {
  text-decoration: solid;
  color: rgba(3, 45, 75, 0.7725490196);
}

.texto:not(:read-only) {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: rgba(3, 45, 75, 0.7725490196);
}

.texto::before {
  content: "✅";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  left: -30px;
}

.texto.completed {
  color: #555;
  text-decoration: line-through;
}

.action {
  display: flex;
  margin: 0 0.5rem;
}
.action button {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
  cursor: pointer;
}
.action button:hover {
  opacity: 0.8;
  scale: 1.05;
  transition: 0.2s;
}
.action button:active {
  opacity: 0.9;
  scale: 0.95;
}
.action .edit {
  color: linear-gradient(to left, #0070C0, #54A9E6);
}
.action .edit.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
.action .delete {
  color: crimson;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: block;
  position: relative;
  /*background-image: url('image/unchecked.png');

  */
}
.checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #555;
  border-radius: 50%;
}
.checkbox::after {
  content: "";
  position: absolute;
  left: 2px;
  bottom: -3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("../image/checked.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.checkbox:checked::after {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */